{% extends basicSite %}

{% block content %}
<h3>Zugang verweigert</h3>
<br>
Sie besitzen nicht die erforderlichen Rechte um diese Seite aufrufen zu können<br><br>
<a href="{{ prefix }}/backend">Zurück zur Startseite</a>    <br>

{% endblock %}
