{% extends basicSite %}


{% block content %}
<h3>{{ title }}</h3>
{{ TAB1 }}
{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock %}


{% block javascript_intern %}
{{ parent() }}
{% endblock %}