{% extends basicSite %}


{% block content %}
    <div>Willkommen im Backend vom NodeJS Framework.</div>

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block javascript_intern %}
    {{ parent() }}
{% endblock %}