#nav{
    margin: 0 ;
    padding: 0;
    position:fixed;
    width:100%;
    background:#e7e7e7
}
#nav li {
    list-style: none;
    display: inline-block; float:left}
#nav li a{
    padding:10px 20px;
    display: inline-block;
    text-decoration: none;
    color: #F2583E ;
    font-family: 'Helvetica Neue';
    font-size:1.25em; background:#e7e7e7;}
#nav li a:hover{background:#bababa;}
/*SubMenu*/
#nav li:hover ul{display:block;position:absolute; top:43px; width:100%; left:0px; background:#bababa;}
#nav li ul{
    display: none;}
#nav li:hover ul li, #nav li:hover ul li a{
    display: inline-block; float:left; padding:5px; background:#bababa}
#nav li ul li{
    _display: inline-block; /* for IE5*/}
#nav li ul li a{
    width: 150px;
}



/** Begin: Globals - Complete Form **/
body, form, figure {
    margin: 0;
    padding: 0;
}

h1 { color: #0a0a0a; }

#errormessage { color: red; }

h1 { color: #0a0a0a; }

#errormessage { color: red; }

#main {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#content {
    text-align: left;
    width: 95%;
    margin-top: 5em;
}

/** End: Globals - Complete Form **/

/** Begin: Globals: Header **/
#header {
    height: 2em;
    width: 100%;
    top: 0;
    position: fixed;
}
/** End: Globals: Header **/

/** Begin: Globals - Footer **/
#footer {
    height: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/** End: Globals - Footer **/

#main {
}

#content {
}

.tbl-left { text-align: left; }
.tbl-right { text-align: right; }
.tbl-middle { text-align: center; }
