input.base_style {
    height: 1.5em;
    width: 20em;
    padding: 0.4em;
    border: 0.1em solid RGB(150,150,150);
    border-radius: 0.5em;
}
select.base_style,

input[type=button].base_style,
input[type=submit].base_style,
input[type=reset].base_style {
    height: 2.4em;
    width: 10em;
    padding: 0.4em;
    border: 0.1em solid RGB(150,150,150);
    border-radius: 0.5em;
    cursor: pointer;
}
label.base_style {
    color: RGB(0,0,0);
    font-size: 1em;
}
input.base_style:hover,
select.base_style:hover,
button.base_style:hover {
    border-color: RGB(0,0,0);
    border-radius: 1em;
}
